body {
color: rgba(252, 249, 249, 0.40);
font-family: 'Manrope', sans-serif;
background: #1C2225;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.section {
    /* width: 100%; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}

.section-title span {
color: #ECD979;
}
/* ===========hero=========== */
@media screen and (min-width: 320px) {
    .container {
    max-width: 375px;
    }
}

.hero {
padding-top: 80px;
padding-bottom: 60px;
}


.hero-container {
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.title {

}
.hero-one {
    display: flex;
    flex-direction: column;
}

.hero-title {
color: #FCF9F9;
width: 335px;
/* height: 216px; */
font-size: 44px;
font-weight: 400;
line-height: 1.22;
letter-spacing: -0.03em;
text-align: left;
margin-bottom: 20px;


}

.hero-buy-btn {
    background: #1C2225;
    color: #FCF9F9;
    display: inline-flex;
    width: 169px;
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: #FCF9F9;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin: 0 auto;

}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
border-color: 1px solid var(--yellow, #ECD979);
} 

.hero-btn-icon {
    width: 30px;
    height: 15px;
    /* transform: rotate(-30deg); */
    color: var(--yellow, #ECD979);}


.hero-img {
border-radius: 4px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
margin-top: 40px;
}

.star {
display: none;
}

.hero-ukr-img {
display: none;
}

@media screen and (min-width: 768px) {

.container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
}

.hero {
padding-top: 80px;
}


.hero-container {
/* padding-top: 26px; */
position: relative;
align-items: start;

}

/* .hero-title-wrap {
padding-bottom: 97px;
width: 100%;
background-image: url(../images/group-tab-1x.png);
background-size: 139px 171px;
background-repeat: no-repeat;
background-position: right bottom;
} */

.hero-one {

}

.hero-title {
color: #FCF9F9;
width: 549px;
/* height: 192px; */
font-size: 54px;
font-weight: 400;
line-height: 1.18;
padding-top: 26px;
margin-bottom: 40px;

}

.hero-buy-btn {
padding: 14px 39px;
margin-left: 141px;
font-size: 16px;
}

.hero-btn-icon {}

.hero-img {}

.interecting {

}

.star {
    width: 115px;
    height: 111px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 32px;
    /* padding: 40px 80px; */
}

.star-icon {
    color: #ECD979;
}

.star-text {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
}

.hero-ukr-img {
display: block;
width: 139px;
height: 197px;
position: absolute;
right: 32px;
bottom: -97px;

}

}

@media screen and (min-width: 1280px) {

.container {
max-width: 1280px;
padding-left: 100px;
padding-right: 100px;
    }

.hero {
padding-top: 100px;
padding-bottom: 0;
}

.hero-container {    
/* max-width: 100%;
flex-direction: row-reverse;
justify-content: flex-end; */

}

.hero-one {
    padding-top: 80px;
    /* margin-right: 24px; */
} 

.star {
margin-top: 14px;
right: 100px;
}

.hero-title-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 40px;
/*   background-image: url(../images/group-dt-1.png);
background-size: 142.159px 156.719px;*/
} 

.hero-title {
    width: 518px;
    /* padding-left: 40px; */
    padding-right: 24;
    margin-bottom: 40px;
}

.hero-img {
margin-top: 0;

}

.hero-ukr-img {
width: 142.159px;
height: 156.719px;
right: 96px;
bottom: -79px;
padding-left: 24px;
}

}

/*
.about-us {
max-width: 100%;
min-height: 957px;
} 

.about-container {

}
.ornament {
    max-width: 100%; 
 min-height: 957px;
    display: flex;
    width: 459px;
    height: 408px;
    padding: 0px 0.615px 0.455px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    background: #1C2225;
    background-image: 
        url(../images/elements1x.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:  contain;
 position: absolute;
    z-index: 0;
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .about-us {
        background-image: 
            url(../images/elements2x.png);

    }
}

.about-title {
color: #FCF9F9;
font-size: 32px;
font-weight: 500;
line-height: 1.38;

letter-spacing: -0.03em;
margin-bottom: 40px;
}

.about-list {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

.about-item {}

.about-text {
font-size: 14px;
line-height: normal;
letter-spacing: -0.04em;
}

.about-img {
    position: relative;
    z-index: 1;
} 
 */