body {
color: rgba(252, 249, 249, 0.40);
font-family: 'Manrope', sans-serif;
background: #1C2225;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.section {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}

.section-title span {
color: #ECD979;
}
/* ===========hero=========== */
.hero {
padding-top: 80px;
padding-bottom: 60px;
}

.container {}

.hero-container {}

.hero-title {
color: #FCF9F9;
font-size: 44px;
font-style: normal;
line-height: 1.22;
    /* 122.727% */
letter-spacing: -0.03em;
margin-bottom: 20px;
}

.hero-buy-btn {
background: #1C2225;
color: #FCF9F9;
display: flex;
min-width: 169px;
height: 49px;
padding: 14px 36px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
margin: 0 auto;
}
.hero-img {
padding-top: 40px;
}



.about-us {
    /* width: 100%; */
    /* display: flex; */
    width: 459px;
    height: 408px;
    padding: 0px 0.615px 0.455px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    background: #1C2225;
    background-image: linear-gradient(rgba(252, 249, 249, 0.10),
            rgba(252, 249, 249, 0.10)),
        url(../images/elements1x.png);
    background-repeat: no-repeat;
    background-position-x: 25%;
    /* background-position-y: 100%; */
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .about-us {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/elements2x.png);

    }
}


.about-container {
}

.about-title {
color: #FCF9F9;
font-size: 32px;
font-weight: 500;
line-height: 1.38;
    /* 137.5% */
letter-spacing: -0.03em;
margin-bottom: 40px;
}

.about-list {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

.about-item {}

.about-text {
font-size: 14px;
line-height: normal;
letter-spacing: -0.04em;
}

.about-img {}






